/* hero banner */
.banner {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

.banner__text-content {
  padding-left: 60px;
  width: 100%;
}

.banner .greeting {
  margin-top: 100px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  color: #fc8022;
}

.banner .title h2 {
  font-size: 61px;
  font-family: "Futura";
  color: #204147;
  line-height: 81px;
}

.banner .title {
  margin: 20px 0;
}

.banner__image {
  height: 100%;
  width: 100%;
}

.banner h4 {
  line-height: 1.5em;
  font-size: 25px;
  font-family: "Futura_Light";
  max-width: 100%;
}

.banner .link_group {
  margin: 40px 0;
  gap: 50px;
  display: flex;
}

.banner .link_group button {
  padding: 10px 40px;
}

.banner.about_us .banner__image img {
  height: 100%;
  width: unset;
}

.banner.about_us .banner__image {
  height: 450px;
  width: unset;
  margin-top: 50px;
}

.banner.about_us .title {
  font-family: "Futura_Medium";
  letter-spacing: 4px;
  font-size: 69px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .banner__text-content {
    padding-left: 0px;
  }

  .banner .title h2 {
    font-size: 39px;
    line-height: 50px;
  }
  .banner .link_group {
    flex-direction: column;
    width: 60%;
    gap: 20px;
    margin: 0;
    margin-top: 30px;
  }

  .banner .link_group a {
    text-align: center;
    padding: 10px 0px;
  }

  .banner__image img,
  .banner.about_us .banner__image img {
    height: 100%;
    width: 100%;
  }
  .banner {
    flex-direction: column;
    padding-left: 20px;
    margin-top: 0px;
  }
  .banner h6.greeting {
    margin-top: 30px;
  }
  .banner__image {
    margin-top: -40px;
  }

  .banner.about_us .title {
    font-size: 39px;
  }
}
