/* newsletter */
.newsletter {
  width: 68%;
  padding: 100px 0;
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 2;
  margin: auto;
}
.newsletter .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter h6 {
  color: #fc8022;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.newsletter h5 {
  font-size: 40px;
  line-height: 52px;
  color: #204147;
  font-family: "Futura";
  font-weight: 400;
  margin-top: 20px;
}

.newsletter form {
  display: flex;
  width: 550px;
  gap: 0px;
}
.newsletter .form-control {
  width: 100%;
  position: relative;
}

.newsletter .form-control input {
  border: 0;
  padding-right: 18px;
  padding-left: 61px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(17, 17, 17);
  border-radius: 4px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.46) 9px 7px 21px -10px;
  width: -webkit-fill-available;
}

.newsletter button.btn.gradient {
  height: 60px;
  text-transform: capitalize;
  font-size: 24px;
}

.newsletter .form-control svg {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 16px;
  fill: rgb(59, 59, 59);
}

/* footer */
.footer_content {
  position: relative;
  z-index: 2;
}
footer.footer {
  position: relative;
}

.footer_bg {
  background-image: url("http://neufluence.local/wp-content/uploads/2023/05/Brands-Background.png");
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
}

.footer_content {
  width: 80%;
  display: flex;
  align-items: flex-start;
  margin: auto;
  margin-top: 50px;
  padding: 80px 40px 250px 40px;
  border-top: 1px solid rgb(180, 51, 51);
}

.footer_content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.footer_content ul li {
  list-style: none;
  font-family: "Futura_Book";
  line-height: 32px;
  font-size: 18px;
  color: #3b3b3b;
}

.footer_links {
  display: flex;
  margin-left: 35px;
  gap: 35px;
}

.footer_content h5 {
  font-family: "Sen", sans-serif;
  font-size: 28px;
  line-height: 39px;
  color: #204147;
}

.footer_logo p {
  font-family: "Futura_Book";
  line-height: 29px;
  font-size: 16px;
  color: #3b3b3b;
}

.socials {
  display: flex;
  gap: 10px;
  align-items: center;
}

.socials span {
  background-color: white;
  padding: 0.6em;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.socials span:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.socials svg {
  height: 24px;
  fill: rgb(149, 30, 181);
  width: 24px;
}
