@font-face {
  font-family: "Futura_Bold";
  src: url("../fonts/Futura_Bold.ttf");
}

@font-face {
  font-family: "Futura_Book";
  src: url("../fonts/Futura_Book.ttf");
}

@font-face {
  font-family: "Futura_Light";
  src: url("../fonts/Futura_Light.ttf");
}

@font-face {
  font-family: "Futura_Medium";
  src: url("../fonts/Futura_Medium.ttf");
}

@font-face {
  font-family: "Futura_Med";
  src: url("../fonts/Futura_Med.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.ttf");
}

*,
body,
html {
  padding: 0px;
  margin: 0px;
}
html.html {
  margin-top: 0px !important;
}
body {
  position: relative;
}

.site-background-image.home {
  height: 100%;
}

.site-background-image {
  background-image: url("http://neufluence.local/wp-content/uploads/2023/05/Brands-Background.png");
  position: absolute;
  width: 100%;
  height: 950px;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
}

/* logo */
a.custom-logo-link img {
  height: 40px;
  width: 250px;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 40px 50px 0px 60px;
}
.site_nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.site_nav ul {
  display: flex;
  align-items: center;
}

.site_nav ul li {
  list-style: none;
  border-right: 1px solid rgb(225, 225, 225);
  padding: 5px 30px;
}

.site_nav ul li:last-child {
  border-right: unset;
}

.site_nav li {
  border-right: 1px solid rgb(225, 225, 225);
}

.site_nav li:hover {
  background-color: rgb(198, 198, 198);
  border-radius: 100px;
  padding: 10px 30px;
}

.site_nav ul li a {
  text-decoration: none;
  font-family: "Futura_Medium";
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

/* nav button */
nav .link_group {
  gap: 20px;
  display: flex;
  margin-left: 20px;
}

.btn {
  padding: 3px 30px;
  border-radius: 100px;
  font-family: "Futura_Medium";
  border: 2px solid rgb(82, 24, 135);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  letter-spacing: 2;
  background-color: transparent;
}

.btn.gradient {
  background: linear-gradient(
    90deg,
    rgb(149, 30, 181) 0%,
    rgb(224, 60, 107) 50%,
    rgb(252, 128, 34) 100%
  );
  border: 0;
  color: #fff;
}

.btn.outline {
  color: rgb(82, 24, 135);
}

.btn.purple {
  background: rgb(149, 30, 181);
  border: 0;
}

.btn:hover {
  background: #fc8022;
}

.btn.outline:hover {
  background: rgb(82, 24, 135);
  color: white;
}

/* main */
main.main,
footer {
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  header {
    padding: 30px 20px;
  }
  nav.site_nav {
    display: none;
  }
}
