@font-face {
  font-family: "Futura_Bold";
  src: url("../fonts/Futura_Bold.ttf");
}

@font-face {
  font-family: "Futura_Book";
  src: url("../fonts/Futura_Book.ttf");
}

@font-face {
  font-family: "Futura_Light";
  src: url("../fonts/Futura_Light.ttf");
}

@font-face {
  font-family: "Futura_Medium";
  src: url("../fonts/Futura_Medium.ttf");
}

@font-face {
  font-family: "Futura_Med";
  src: url("../fonts/Futura_Med.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.ttf");
}

*,
body,
html {
  padding: 0px;
  margin: 0px;
}
html.html {
  margin-top: 0px !important;
}
body {
  position: relative;
}

.site-background-image.home {
  height: 100%;
}

.site-background-image {
  background-image: url("../images/Brands-Background.png");
  position: absolute;
  width: 100%;
  height: 950px;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
}

div#wpadminbar {
  display: none;
}

/* logo */
a.custom-logo-link img {
  height: 40px;
  width: 250px;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 40px 50px 0px 60px;
}
.site_nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.menu_list_group {
  width: 100%;
  display: flex;
  align-items: center;
}

.site_nav ul {
  display: flex;
  align-items: center;
}

.site_nav ul li {
  list-style: none;
  border-right: 1px solid rgb(225, 225, 225);
  padding: 5px 30px;
}

.site_nav ul li:last-child {
  border-right: unset;
}

.site_nav li {
  border-right: 1px solid rgb(225, 225, 225);
}

.site_nav li:hover {
  background-color: rgb(198, 198, 198);
  border-radius: 100px;
  padding: 10px 30px;
}

.site_nav ul li a {
  text-decoration: none;
  font-family: "Futura_Medium";
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

/* nav button */
nav .link_group {
  gap: 20px;
  display: flex;
  margin-left: 20px;
}

.btn {
  padding: 3px 30px;
  border-radius: 100px;
  font-family: "Futura_Medium";
  border: 2px solid rgb(82, 24, 135);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  letter-spacing: 2;
  background-color: transparent;
}

.btn.gradient {
  background: linear-gradient(
    90deg,
    rgb(149, 30, 181) 0%,
    rgb(224, 60, 107) 50%,
    rgb(252, 128, 34) 100%
  );
  border: 0;
  color: #fff;
}

.btn.outline {
  color: rgb(82, 24, 135);
}

.btn.purple {
  background: rgb(149, 30, 181);
  border: 0;
}

.btn:hover {
  background: #fc8022;
}

.btn.outline:hover {
  background: rgb(82, 24, 135);
  color: white;
}

.site_nav button {
  display: none;
}

/* main */
main.main,
footer {
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  header {
    padding: 30px 20px;
    z-index: 200;
  }

  a.custom-logo-link {
    position: relative;
    z-index: 1000;
  }

  .site-background-image.home {
    background-position: 50% 0%;
  }

  .site_nav .menu_list_group {
    display: none;
  }

  .site_nav.show .menu_list_group {
    display: block;
    padding: 20px 0px 0px;
  }

  .site_nav button {
    height: 30px;
    width: 30px;
    display: flex;
    border: 0;
    background-color: transparent;
  }

  .site_nav button svg {
    fill: #ff6900;
  }

  .site_nav {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    justify-content: flex-end;
  }

  .site_nav .button_group {
    position: relative;
    z-index: 20;
    margin-right: 20px;
  }

  .menu-top-menu-container ul li {
    border-right: transparent;
    left: 0;
    margin: 20px 0px;
  }

  .site_nav.show .menu_list_group {
    display: block;
    background: white;
    height: 360px;
    position: absolute;
    left: 0;
    z-index: 100;
    top: 60px;
    width: 100%;
    background-color: white;
  }

  .site_nav ul li a {
    font-size: 20px;
  }

  nav .link_group {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
  }

  .site_nav button#close_menu,
  .site_nav.show #open_menu {
    display: none;
  }

  .site_nav.show #close_menu,
  .site_nav.hide #open_menu {
    display: block;
  }

  .menu-top-menu-container ul {
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: white;
  }
}
