@font-face {
  font-family: "Futura_Bold";
  src: url("../fonts/Futura_Bold.ttf");
}

@font-face {
  font-family: "Futura_Book";
  src: url("../fonts/Futura_Book.ttf");
}

@font-face {
  font-family: "Futura_Light";
  src: url("../fonts/Futura_Light.ttf");
}

@font-face {
  font-family: "Futura_Medium";
  src: url("../fonts/Futura_Medium.ttf");
}

@font-face {
  font-family: "Futura_Med";
  src: url("../fonts/Futura_Med.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.ttf");
}

*,
body,
html {
  padding: 0px;
  margin: 0px;
}
html.html {
  margin-top: 0px !important;
}
body {
  position: relative;
}

.site-background-image {
  background-image: url("http://neufluence.local/wp-content/uploads/2023/05/Brands-Background.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 40px 50px 0px 60px;
}
.site_nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

/* logo */
a.custom-logo-link img {
  height: 40px;
  width: 250px;
}

.site_nav ul {
  display: flex;
  align-items: center;
}

.site_nav ul li {
  list-style: none;
  border-right: 1px solid rgb(225, 225, 225);
  padding: 10px 40px;
}

.site_nav ul li:last-child {
  border-right: unset;
}

.site_nav li {
  border-right: 1px solid rgb(225, 225, 225);
}

.site_nav ul li a {
  text-decoration: none;
  font-family: "Futura_Medium";
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

/* nav button */
nav .button_group {
  gap: 20px;
  display: flex;
  margin-left: 20px;
}

button {
  padding: 3px 30px;
  border-radius: 100px;
  font-family: "Futura_Medium";
  border: 2px solid rgb(82, 24, 135);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  letter-spacing: 2;
  background-color: transparent;
}

button.gradient {
  background: linear-gradient(
    90deg,
    rgb(149, 30, 181) 0%,
    rgb(224, 60, 107) 50%,
    rgb(252, 128, 34) 100%
  );
  border: 0;
  color: #fff;
}

button.outline {
  color: rgb(82, 24, 135);
}

button.purple {
  background: rgb(149, 30, 181);
  border: 0;
}

button:hover {
  background: #fc8022;
}

button.outline:hover {
  background: rgb(82, 24, 135);
  color: white;
}

/* main */
main.main {
  position: relative;
  z-index: 3;
}

/* hero banner */
.banner {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.banner__text-content {
  padding-left: 60px;
}

.banner .greeting {
  margin-top: 100px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  color: #fc8022;
}

.banner .title {
  font-size: 61px;
  font-family: "Futura";
  color: #204147;
  line-height: 81px;
  margin: 20px 0;
}

.banner__image {
  height: 100%;
  width: 100%;
}

.banner h4 {
  line-height: 1.5em;
  font-size: 25px;
  font-family: "Futura_Light";
  max-width: 100%;
}

.banner .button_group {
  margin: 40px 0;
  gap: 50px;
  display: flex;
}

.banner .button_group button {
  padding: 10px 40px;
}
